/* TODO -absolute w-full top-0 left-0 z-0 */
.vibeImage {
  min-height: 500px;
  width: 100%;
  background-image: linear-gradient(
    180deg,
      rgba(2, 2, 1, 1),
      rgba(2, 2, 1, 0.7),
      rgba(2, 2, 1, 0.2),
      rgba(2, 2, 1, 0.2),
      rgba(2, 2, 1, 1)
    ),
    url("https://res.cloudinary.com/dpmpi8dwb/image/upload/v1743530160/woman_vibe_wln20k.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
