/* TODO -absolute w-full top-0 left-0 z-0 */
.vibeImage {
  min-height: 500px;
  width: 100%;
  background-image: linear-gradient(
    180deg,
      rgba(2, 2, 1, 1),
      rgba(2, 2, 1, 0.7),
      rgba(2, 2, 1, 0.2),
      rgba(2, 2, 1, 0.2),
      rgba(2, 2, 1, 1)
    ),
    url("../../../assets/woman_vibe.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
