.dessertBackground {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(2, 2, 1, 1),
        rgba(2, 2, 1, 0.6),
        rgba(2, 2, 1, 0.5),
        rgba(2, 2, 1, 0.4),
        rgba(2, 2, 1, 1)
      ),
      url("https://res.cloudinary.com/dpmpi8dwb/image/upload/v1743530160/dessert_bg_2_cgvoqh.png");
  background-size: cover;
  background-repeat: no-repeat;
}