/* TODO -absolute w-full top-0 left-0 z-0 */
.background {
  background-image: url("https://res.cloudinary.com/dpmpi8dwb/image/upload/v1743530160/dessert_bg_xetjyy.png");
  background-size: cover;
  background-repeat: no-repeat;
}